//- includes manager
include ../includes/spc-manager.pug
+loadBasicIncludes()

//- TEMP << cz local vars are lost in 2 includes..
include ../includes/spc-data.pug

//- Mixins
mixin customHead()
    link(rel="stylesheet", href=indexStylesPath+"hero-sec.css")

//- DOCTYPE
doctype html
html(lang="en")

    //- <head>
    +head(brandName+" home", indexPhImg, customHead)

    //- <body>
    body 
        header
            +navBar(logo, indexLinks)
            main
                #hero-sec
                    h1= heroTitle
                    #cta-s
                        a(data-href="./pages/html/signup.html") Sign Up
                        a(data-href="./pages/html/login.html") Login
        
        +chatBox()

        //- Essential Scripts
        +loadScripts(indexScriptsPath)