// SASS Vars
$debug-border-color: rgb(26, 212, 218);
$mq-max-width: 799px;
$transition-duration: 300ms;

// CSS Vars (to be changed with JS)
:root {
    // personal temp
        // --color1: #fd6d03;
        --color1: rgb(9, 255, 0);
        // --color1-darker: #e2670e;
        --color1-darker: rgb(26, 221, 0);
        // --color1-darker-2: #c75b0e;
        --color1-darker-2: rgb(1, 179, 46);

    --color2: rgb(17, 17, 17);
    --color2-darker: #2b2b2b;
    --color2-darker-2: #181818;
    --color2-darkerest: rgb(15, 15, 15);
        // --color2: rgb(255, 255, 255);
        // --color2-darker: #e6e6e6;
        // --color2-darker-2: #cfcfcf;
        // --color2-darkerest: rgb(180, 180, 180);

    --darkest: rgb(219, 219, 219);
    --color3: #4C5270;
    --color4: #36eee0;
    --color5: #bcece0;
    --shadow: rgba(243, 243, 243, 0.15);
    --shadow-color: rgba(255, 255, 255, 0.15);
}

// Personal Temp
// :root {
    // --color1: #fff;
    // --color1-darker: rgb(214, 211, 238);
    // --color2: rgb(15, 10, 82);
    // --darkest: rgb(192, 192, 196);
    // --shadow: rgba(188, 192, 204, 0.15);
// }