//- to solve "customHead" is not a mixin we should declare a def one even if empty
mixin customHead()
    //- 

mixin head(title= "My Title", pageIcon="../../assets/images/ph.png", customHead)
        head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            //- meta(http-equiv="Content-Security-Policy", content="default-src 'self'")
            meta(name="description", content="Cleaning Services Company")
            meta(name="keywords", content="Cleaning, Services")
            meta(name="application-name", content="Halan")
            title= title
            //- link(rel="stylesheet", href=stylesPath+"index.css")
            link(rel="icon", href=pageIcon)
            +customHead()
